Case Study

Domain – HR

focus – Insights from data


Business challenge/requirement

SFO Public Department - referred to as SFO has captured all the salary data of its employees from year 2011-2014. Now we are in year 2015 and the organization is facing some financial crisis. As first step HR wants to rationalize employee cost to save payroll budget. You have to do data manipulation and analysis on the salary data to answer specific questions for cost savings.


Key issues
Cost can be saved by figuring out the key pockets of high salaries


Data volume
- Approx 150K records across files


Business benefits
Save at least 10% of employee cost by identifying and letting them go

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
pwd

'c:\\Users\\gogur\\OneDrive\\Desktop\\Top-Mentor-DS\\ML\\Case Studies\\CS 22 Ans -Data Maniputations-2'

In [3]:
salary = pd.read_csv('Salaries.csv',low_memory = False)
display(salary)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148643,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148644,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148645,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148646,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148647,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,PT

In [4]:
display(salary.describe())

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes
count,148648.000000,148043.000000,148648.000000,148648.000000,112490.000000,148648.000000,148648.000000,148648.000000,0.0
mean,74326.110220,66325.398119,5065.821161,3648.761721,25007.777439,74770.035453,93694.776345,2012.522617,NaN
std,42911.633315,42764.898947,11454.266982,8056.655841,15402.235424,50516.440633,62792.743250,1.117526,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN
25%,37163.750000,33587.350000,0.000000,0.000000,11535.192500,36169.370000,44072.062500,2012.000000,NaN
50%,74326.500000,65007.450000,0.000000,811.205000,28628.365000,71427.130000,92406.020000,2013.000000,NaN
75%,111488.250000,94691.050000,4657.597500,4236.035000,35566.790000,105840.920000,132876.997500,2014.000000,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN

In [5]:
display(salary.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148648 entries, 0 to 148647
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148648 non-null  int64
 1   EmployeeName      148648 non-null  object
 2   JobTitle          148648 non-null  object
 3   BasePay           148043 non-null  float64
 4   OvertimePay       148648 non-null  float64
 5   OtherPay          148648 non-null  float64
 6   Benefits          112490 non-null  float64
 7   TotalPay          148648 non-null  float64
 8   TotalPayBenefits  148648 non-null  float64
 9   Year              148648 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148648 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(7), int64(2), object(4)
memory usage: 14.7+ MB

None

In [6]:
# Counting null and nan per column
null_counts = salary.isnull().sum()
null_counts

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36158
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148648
Agency                   0
Status              110529
dtype: int64

Business requirement 1

Compute how much total salary cost has increased from year 2011 to 2014

In [7]:
salary.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [8]:
group_by_year = salary.groupby('Year')["TotalPayBenefits"]
sum_by_year = group_by_year.sum()
mean_by_year = group_by_year.mean()
print(f"summation of salary by year {sum_by_year}")
print()
print(f"mean salary by year {mean_by_year}")

summation of salary by year Year
2011    2.594113e+09
2012    3.696790e+09
2013    3.814772e+09
2014    3.821866e+09
Name: TotalPayBenefits, dtype: float64

mean salary by year Year
2011     71743.819645
2012    100551.886807
2013    101440.519714
2014    100261.438668
Name: TotalPayBenefits, dtype: float64

In [9]:
print(f"Total salary cost increased by {sum_by_year.iloc[-1]-sum_by_year.iloc[0]}")

Total salary cost increased by 1227752749.88

Business Requirement 2

Which Job Title in Year 2014 has highest mean salary?

In [10]:
mean_salary_title_2014 = salary.groupby(['Year','JobTitle'])["TotalPayBenefits"].mean()

In [11]:
mean_salary_title_2014

Year  JobTitle
2011  ACCOUNT CLERK                      44035.664337
      ACCOUNTANT                         47429.268000
      ACCOUNTANT INTERN                  29031.742917
      ACUPUNCTURIST                      67594.400000
      ADMINISTRATIVE ANALYST             63954.867527
                                            ...
2014  Wire Rope Cable Maint Sprv        228338.090000
      Worker's Comp Supervisor 1         76964.451667
      Worker's Compensation Adjuster     97213.493846
      X-Ray Laboratory Aide              68754.120000
      Youth Comm Advisor                 52011.190000
Name: TotalPayBenefits, Length: 4136, dtype: float64

In [33]:
z = salary.query('Year == 2014')
z = z.filter(['JobTitle','TotalPayBenefits'])
means = z.groupby('JobTitle').mean()
highest_salary_mean = means[means["TotalPayBenefits"]==means['TotalPayBenefits'].max()]
print(highest_salary_mean)
# means.sort_values(by='TotalPayBenefits',ascending=False).iloc[:,-1]

                          TotalPayBenefits
JobTitle
Chief Investment Officer         436224.36

3. How much money could have been saved in Year 2014 by stopping OverTimePay?

In [41]:
overtime_pay_per_year = salary.groupby('Year')['OvertimePay'].sum()

print(overtime_pay_per_year)

Year
2011    1.638191e+08
2012    1.846650e+08
2013    1.986214e+08
2014    2.059186e+08
Name: OvertimePay, dtype: float64

4.Which are the top 5 common job in Year 2014 and how much do they cost SFO?

In [43]:
top_5_common_jobs = salary[salary['Year']==2014]['JobTitle'].value_counts().head(5)
top_5_common_jobs

JobTitle
Transit Operator                2479
Special Nurse                   1478
Registered Nurse                1234
Public Svc Aide-Public Works     916
Firefighter                      815
Name: count, dtype: int64

Calculation Cost to SFO

In [45]:
sum_cost = 0
for title , count in top_5_common_jobs.items():
    print(title,count)
    sum_cost += sum(salary[(salary['Year']==2014) & (salary['JobTitle']== title)]['TotalPayBenefits'])\
    
print("Total Cost to SFO is {0}".format(sum_cost))

Transit Operator 2479
Special Nurse 1478
Registered Nurse 1234
Public Svc Aide-Public Works 916
Firefighter 815
Total Cost to SFO is 610269227.66

5.Who was the top earning employee across all the years?

In [57]:
top_employee = salary.groupby('EmployeeName').sum()['TotalPayBenefits']
print(top_employee.sort_values(axis=0,ascending=False).head(1))

EmployeeName
Kevin Lee    1778487.17
Name: TotalPayBenefits, dtype: float64